.mod {
    display: none;
}

/* 右侧窗口 确认按钮 */
button.confirm {
    width: 110px;
    height: 34px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
    background-color: #2fa2fe;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 模块一.LOGO设置  */
.set-logo {
    width: 295px;
    padding-left: 20px;
    font-size: 14px;
    color: #6a747e;
}

.set-logo h3 {
    margin-bottom: 20px;
}

.radio-input input[type="radio"] {
    display: none;
    
}
.radio-input input[type="radio"] + label {
    position: relative;
    cursor: pointer; 
    padding-left: 25px;
    margin-right: 10px;
}

.radio-input input[type="radio"] + label::before {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    border: 1px solid #2fa2fe;
    border-radius: 50%;
    content: ''; 
}

.radio-input input[type="radio"] + label::after {
    position: absolute;
    display: none;
    width: 12px;
    height: 12px;
    left: 5px;
    top:5px;
    background-color:  #2fa2fe;
    border-radius: 50%;
    content: ''; 
}

.radio-input input[type="radio"]:checked + label::after {
    position: absolute;
    display: block;
}


.upload-input input[type="file"] {
    display: none;
}

.logo .upload-input > div {
    display: none;
}

.upload-input #img_id {
    width: 55px;
    height: 70px;
    margin: 25px 31px;
}
.logo .upload-input label {
    display: block;
    width: 120px;
    height: 120px;
    margin: 20px 75px;
    border: 1px dashed #2fa2fe;
}


/* 模块二.背景图片设置 */
.set-background {
    width: 295px;
    padding-left: 20px;
    font-size: 14px;
    color: #6a747e;
}

.set-background h3 {
    margin-bottom: 20px;
}

.upload-box label {
    display: inline-block;
    width: 280px;
    height: 135px;
    margin-bottom: 10px;
    border: 1px dashed #2fa2fe;
    border-radius: 5px;
}

.upload-box img {
    width: 280px;
    height: 135px;
}

.set-background span {
    display: none;
    color: red;
}

/* 模块三.标题设置 */
.set-title li {
    display: block;
    width: 295px;
    color: #6a747e;
    line-height: 35px;
    padding-left: 20px;
}

.set-title li:nth-child(odd) {
    height: 35px;
    font-size: 15px;
    background-color: #f3f4f6;
}


.set-title li:nth-child(even) {
    height: 75px;
    font-size: 14px;
    background-color: white;
}

.set-title input {
    height: 40px;
    width: 200px;
    padding-left: 6px;
    margin-top: 15px;
    outline: none;
    border: 1px solid #e3e4e6c5;
    border-radius: 5px;
}

.set-title input[name="content"] {
    width: 275px;
}

.set-title ul li:nth-child(2) {
    position: relative;
}

.set-title p {
    position: absolute;
    top:18px;
    right: 20px;
}

input[name="rgb"] {
    margin-top: 15px; 
}

input[type="color"] {
    position: absolute;
    width: 30px;
    height: 30px;
    margin:20px ;
    padding: 0px;
    border: none;
    box-shadow: #2fa1fe59 0px 3px 5px 2px;
    border-radius: 5px;
}
input[type="color"]::-webkit-color-swatch-wrapper{padding: 0;}
input[type='color']::-webkit-color-swatch{border: none;border-radius: 5px;}


/* 模块四.链接设置 */
.set-link {
    background-color: white;
    color: #6a747e ;
}

.set-link li{
    position: relative;
    display: block;
    width: 295px;
    height: 70px;
    padding-left: 20px;
    border-bottom: 1px solid  #555f6934;

}

.set-link li:nth-child(1) {
    height: 30px;
    background-color: #f3f4f6;
    border: none;
    line-height: 30px;
}



.set-link li input[name="setLink"] {
    position: absolute;
    top:15px;
    left: 15px;
}

.set-link li p:nth-of-type(1),.set-link li p:nth-of-type(2) {
    max-height: 200px;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
}

.set-link li p:nth-of-type(1) {
    position: absolute;
    top: 8px;
    left: 50px;
    font-size: 15px;
    width: 185px;

}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
}

.set-link .on,.set-link li p:nth-of-type(1):focus,.set-link li p:nth-of-type(2):focus {
    border: 1px solid #65696dc5;
    border-radius: 5px;
}


.set-link li p:nth-of-type(2) {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 13px;
    width: 190px;
    word-break:break-all;
}

.set-link .link-determine,.set-link .link-cancel {
    display: none;
    position: absolute;
    right: 0px;
    width: 60px;
    height: 35px;
    font-size: 16px;
    outline: none;
    border: none;
    color: white;
    border-radius: 3px;
}

.set-link .link-determine {
    top:0px;
    background-color: #2fa1fed8;
}

.set-link .link-cancel {
    top:35px;
    background-color: rgba(255, 166, 0, 0.788);
}


.set-link li:last-child {
    height: 90px;
    border: none;
}

.set-link li #addLinnk {
    width: 130px;
    height: 35px;
    margin-top: 20px;
    background-color: #e1f1fe;
    border: none;
    outline-style: none;
    font-size: 15px;
    color: #2fa2fe;
    border-radius: 5px;
}


.set-link input {
    border-radius: 5px;
    outline-style: none;
}

.set-link input[type="text"] {
    height: 40px;
    width: 140px;
    padding-left: 10px;
    margin-top: 15px;
    outline: none;
    border: 1px solid #e3e4e6c5;
    font-size: 15px;
}

.set-link li input[value="#555f69"] {
    box-shadow: #555f69 0px 3px 5px 2px;
}

.set-link span {
    font-size: 14px;
    margin-right: 10px;
}

.set-link li .modify,.set-link li .delete {
    display: none;
    position: absolute;
    top:10px;
    font-size: 24px;
    z-index: 0;
}
.set-link li .modify {
    right: 40px;
    color: #6a747ea1;
}

.set-link li .delete {
    right: 10px;
    color: #6a747ecc;
}

.set-link li .modify:hover,.set-link li .delete:hover {
    top:8px;
    font-size: 30px;
    cursor: pointer;
}

.set-link li:hover .modify,.set-link li:hover .delete {
    display: block;
}


/* 五.服务窗口设置 */
.set-service {
    color:  #706f6f;
}

.set-service li{
    position: relative;
    display: block;
    width: 295px;
    padding-left: 20px;
}

.set-service li:nth-child(odd){ 
    height: 30px;
    line-height: 30px;
    background-color: #f3f4f6;
    color:  #53585e;
}

 input[class="check"]{
    position: relative;
    -webkit-appearance:none;
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    outline: none;
}

 input[class="check"]::before{
    position: absolute;
    top:-6px;
    left: -6px;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #c9c9c98f;
    border-radius: 5px;
    content: "";
}

 input[class="check"]:checked{
    width: 16px;
    height: 16px;
    background-color: #2fa2fe;
    border: 1px solid rgb(0, 119, 255);
    border-radius: 5px;
} 

.set-service li input[class="check"] {
    position: absolute;
    top:25px;
    left: 15px;
}

.set-service span {
    display: inline-block;
    margin: 20px;
}

.set-service .service-img {
    text-align: center;
}

.set-service .service-img + p {
    margin: 10px 0px 30px;
}

.set-service #ser_file {
    display: none;
}

.set-service label {
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 1px dashed #2fa2fe;
    text-align: center;
}

.set-service img {
    width: 120px;
    height: 120px;
}

.set-service input[type="text"],.set-sign input[type="text"]{
    width: 260px;
    height: 35px;
    margin: 15px 0px;
    padding-left: 15px;
    border:1px solid #e3e4e6c5;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
}

.set-service input[name="rgb"] {
    width: 170px;
}

/* 六.登录窗口设置 */
.set-sign {
    color:  #706f6f;
    font-size: 14px;
}

.set-sign li {
    position: relative;
    display: block;
    width: 295px;
    padding-left: 20px;
    line-height: 40px;
}

.set-sign li.sign-title {
    height: 30px;
    margin-bottom: 10px;
    line-height: 30px;
    background-color: #f3f4f6;
    color:  #53585e;
}

.set-sign  input[class="check"] {
    position: absolute;
    top:12px;
    left: 25px;
}

.set-sign  input[class="check"] + span {
    margin-left: 35px;
}

.set-sign input[type="text"] {
    width: 150px;
    margin-left: 5px;
}

.set-sign input[value="#777777"] {
    box-shadow:  #777777 0px 2px 10px 1px;
}

.set-sign input[value="#ffffff"] {
    box-shadow: #ffffff 0px 2px 10px 1px;
}


.set-background1 {
    margin-left: 20px;
    line-height: 40px;
}

.set-background1 p {
    width: 280px;
}
#h5_id {
    width: 260px;
    height: 400px;
    
}

label[for="h5_file"] {
    width: 260px;
    height: 402px;
    
}